<!--
<h1>Posts Index</h1>
-->
<div id="posts-all">
	<ul>
		<% @posts.each do |post| %>
			<li>
				<div class="post-preview">
					<h2>
						<%= link_to post do %>
							<%= post.title %>
						<% end %>
					</h2>
					<div class="post-preview-table">
						<%= image_tag "wetyourwhiskersbanner.jpg", height: "250" %>
						<p><%= post.body %></p>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
	<%= will_paginate @posts %>
</div>
