	<h1>Create Post</h1>
	<div class="form-container">
		<div class="newedit-postform">
			<%= form_for [@post] do |f| %>
				<div class="newedit-title">
					<%= f.label :title %>
					<%= f.text_field :title %>
				</div>

				<div class="newedit-body">
					<%= f.label :body %>
					<%= f.text_area :body %>
				</div>

				<%= submit_tag "Submit", html: { class: "button" } %>
			<% end %>
		</div>
	</div>
