<!DOCTYPE html>
<html>
<head>
	<title>Blackbird Spaces</title>
	<%= favicon_link_tag 			 "BlackbirdSpacesLogoAlt1Background.png" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<div id="logo">
			<!--
			<%= image_tag "BlackbirdSpacesLogoAlt1.png" %>
			-->
		</div>
		<%= link_to root_path do %>
			<h1><span class="swash">P</span>blackbird spaces<span class="swash">O</span></h1>
		<% end %>
	</div>

	<div id="main-nav">
		<ul>
			<%= nav_link_to "home", root_path, {}, wrapper: 'li' %>
			<%= nav_link_to "store", store_path, {}, wrapper: 'li' %>
			<%= nav_link_to "punderings", blog_path, {}, wrapper: 'li' %>
			<%= nav_link_to "about", about_path, {}, wrapper: 'li' %>
		</ul>
	</div>
	
	<%= yield %>

</body>
</html>
